<div style="margin-top: 20px;">
    <div class="content">
      <h3>{{static.c_addInstance}}</h3>
    </div>

    <div class="field">
      <label class="label">{{static.c_instanceName}}</label>
      <div class="control">
        <input id="txt-instance-name" class="input" type="text" placeholder="{{static.c_instanceName}}">
      </div>
    </div>

    <div class="field">
      <div id="rad-instance-type" class="control">
        <label class="radio">
          <input checked type="radio" value="standalone" name="instance-type">
          {{static.c_standAlone}}
        </label>
        <label class="radio">
          <input type="radio" value="widget" name="instance-type">
          {{static.c_widget}}
        </label>
      </div>
    </div>

    <div class="field">
      <label class="label">{{c_URL}}</label>
      <div class="control">
        <input id="txt-instance-uri" class="input" type="text" placeholder="https://yourdomain.com/endpoint">
      </div>
    </div>

    <div class="field">
      <label class="label">{{static.c_groups}}</label>
      <div class="control">
        <div class="select is-multiple">
          <select id="list-instance-groups" multiple size="4">
            {{#each groups}}
              <option value="{{name}}">
                {{name}}
              </option>
            {{/each}}
          </select>
        </div>
      </div>
    </div>

    <div class="field is-grouped">
      <div class="control">
        <button id="add-instance" class="button is-primary">{{static.c_btn_addInstance}}</button>
      </div>
      <div class="control">
        <button id="clear-details" class="button is-text">{{static.c_btn_clear}}</button>
      </div>
    </div>
</div>



<nav style="margin-top: 20px; border-top: 2px #CCC solid; padding-top: 20px;" class="level">
  <div class="level-left">
    <p class="level-item">
      <button id="btn-prev" class="button is-warning has-text-centered is-size-4">
        {{static.c_back}}
      </button>
    </p>
  </div>
  
  <div class="level-right">
    <p class="level-item">
      <button id="btn-next" class="button is-info has-text-centered is-size-4">
        {{static.c_next}}
      </button>
    </p>
  </div>
</nav>