{{#if fileName}}
    <article style="margin-top: 20px;" class="message is-primary">
        <div class="message-header">
            <p>{{static.orderFound}}</p>
        </div>
        <div class="message-body">
            {{static.p1}}
            <strong>{{fileName}}</strong>.
            {{static.p2}}
        </div>
    </article>
{{/if}}

<div class="box">
  <div class="content is-small">
    <p>
        {{static.p3}}
    </p>
    <p>
        {{static.p4}}
    </p>
  </div>
</div>

<div id="purecloud-instances">
    {{#each appInstances}}
    <div class="box is-radiusless is-marginless">
        <nav class="level">
            <div class="level-left is-size-5">
                <strong>
                    {{name}}
                </strong>
            </div>
            <div class="level-right">
                <button id="btn-delete-{{@index}}" class="delete"></button>
            </div>
        </nav>
        <div class="media-content">
            <p>  
                <em>{{static.type}}</em> {{type}}
            </p>
            <p>  
                <em>{{static.url}}</em> {{url}}
            </p>
            <p>  
                <em>{{static.groups}}</em>
                {{#each groups}}
                    {{this}}
                {{/each}}
            </p>
        </div>
    </div>
    {{/each}}
</div>

