<div style="margin: 20px">
    <h2 class="is-size-4">{{static.question}}</h2>
    <div class="control">
      <label class="radio">
        <input type="radio" name="answer" checked>
        {{static.c_yes}}
      </label>
      <label class="radio"> 
        <input type="radio" name="answer">
          {{static.c_no}}
      </label>
    </div>
    <div>
      <p class="is-size-7"><em>{{static.c_note}}</em></p>
    </div>
</div>



<nav style="border-top: 2px #CCC solid; padding-top: 20px;" class="level">
  <div class="level-left">
    <p class="level-item">
      <button id="btn-prev" class="button is-warning has-text-centered is-size-4">
        {{static.c_back}}
      </button>
    </p>
  </div>
  
  <div class="level-right">
    <p class="level-item">
      <button id="btn-next" class="button is-info has-text-centered is-size-4">
        {{static.c_next}}
      </button>
    </p>
  </div>
</nav>