{{#if roles}}
<div id="purecloud-roles" class="margin-bottom: 20px;">
    <div style="margin-top: 20px; ">
        <div class="content is-marginless">
            <h2>Roles</h2>
        </div>
    </div>

    {{#each roles}}
    <div class="box is-radiusless is-marginless">
        <nav class="level">
            <div class="level-left is-size-5">
                <strong>
                    {{name}}
                </strong>
            </div>
            <div class="level-right">
            </div>
        </nav>
        <div>
            <em>{{static.permissions}}</em> {{#each permissions}} "{{this}}". {{/each}}
        </div> 
        <div>
            <em>{{static.description}} </em> {{description}}
        </div> 
    </div>
    {{/each}}
</div>
{{/if}}


{{#if groups}}
<div id="purecloud-groups" class="margin-bottom: 20px;">
    <div style="margin-top: 20px;">
        <div class="content is-marginless">
            <h2>{{static.groups}}</h2>
        </div>
    </div>

    {{#each groups}}
     <div class="box is-radiusless is-marginless">
        <nav class="level">
            <div class="level-left is-size-5">
                <strong>
                    {{name}}
                </strong>
            </div>
            <div class="level-right">
            </div>
        </nav>
        <div>
            <em>{{static.description}}</em> {{description}}
        </div> 
    </div>
    {{/each}}
</div>
{{/if}}

{{#if appInstances}}
<div id="purecloud-instances" class="margin-bottom: 20px;">
    <div style="margin-top: 20px;"></div>
        <div class="content is-marginless">
            <h2>{{static.appInstances}}</h2>
        </div>
    </div>
    

    {{#each appInstances}}
    <div class="box is-radiusless is-marginless">
        <nav class="level">
            <div class="level-left is-size-5">
                <strong>
                    {{name}}
                </strong>
            </div>
            <div class="level-right">
            </div>
        </nav>
        <div class="media-content">
            <p>  
                <em>{{static.type}}</em> {{type}}
            </p>
            <p>  
                <em>{{static.URL}}</em> {{url}}
            </p>
            <p>  
                <em>{{static.groups}}</em>
                {{#each groups}}
                    {{this}}
                {{/each}}
            </p>
        </div>
    </div>
    {{/each}}
</div>
{{/if}}
