<div class="box">
  <div class="content is-medium">
    <p>
        {{{static.p1}}}
    </p>
    <p>
        {{{static.p2}}}
        <strong>{{objectPrefix}}</strong>.
        {{{static.p3}}}
    </p>
    <p>
        {{{static.p4}}}
    </p>
    <!--
    <p>
        If you would rather manage your existing App instances, please click the <strong>Manager</strong> button.
    </p>
    -->
  </div>
</div>

<div>
  <div style="margin: 20px; margin-bottom: 40px;" id="results-group">
    <i class="fa fa-spinner fa-spin" style="font-size:24px"></i>
    <em>{{static.loadingGroups}}</em>
  </div>
  <div style="margin: 20px; margin-bottom: 40px;" id="results-role">
    <i class="fa fa-spinner fa-spin" style="font-size:24px"></i>
    <em>{{static.loadingRoles}}</em>
  </div>
  <div style="margin: 20px; margin-bottom: 40px;" id="results-integration">
    <i class="fa fa-spinner fa-spin" style="font-size:24px"></i>
    <em>{{static.loadingIntegrations}}</em>
  </div>
</div>

<nav class="level">
  <div class="level-left">
    <!--
    <p class="level-item">
      <button id="btn-goto-manager"class="button is-info has-text-centered is-size-4">
        Go to App Manager
      </button>
    </p>
    -->
  </div>
  
  <div class="level-right">
    <p class="level-item">
      <button id="btn-start-wizard"class="button is-info has-text-centered is-size-4">
        {{static.proceed}}
      </button>
    </p>
  </div>
</nav>



<div id="modal-deleting" class="modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="box">
      <h1 class="is-size-2 has-text-centered has-text-grey-light">
        <i class="fa fa-spinner fa-spin" style="font-size:24px"></i> {{static.deleting}}
      </h1>
    </div>>
  </div>
</div>