<nav class="panel">
    <p class="panel-heading">
        {{panelHeading}} 
    </p>
    {{#each pureCloudObjArr}}
        {{#with this}}
            <div style="display: block;" class="panel-block">
                <div class="level">
                    <div class="level-left">
                        <span class="panel-icon">
                        <i class="fas {{../icon}}" aria-hidden="true"></i>
                        </span>
                        {{name}}
                    </div>
                    <div class="level-right">
                        <button id="btn-delete-{{id}}" class="delete"></button>
                    </div>
                </div>     
            </div>
        {{/with}}
    {{else}}
        <div class="panel-block">
            <p>None</p>
        </div>
    {{/each}}

</nav>